<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">

  <!--link rel="stylesheet" href="/assets/pico.fluid.classless.slate.min.css" /-->
  <link rel="stylesheet" href="/assets/style.css" />

  <script src="/assets/htmx.min.js"></script>
  <script src="/assets/response-targets.js"></script>
  <title>{{.title}}</title>
</head>

<body hx-ext="response-targets">
  <header class="flex">
    <nav>
      <ul>
        <li><strong>Acme Shop</strong></li>
      </ul>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </nav>
  </header>
  {{template "content" .}}

  {{if .LIVE_RELOAD}}
  <script>
    const socket = new WebSocket('ws://localhost:5555/ws');
    socket.onmessage = event => event.data === 'reload' && window.location.reload();
  </script>
  {{end}}

  <script src="/assets/script.js"></script>
</body>

</html>